###############################################################################
# SPDX-License-Identifier: GPL-3.0-or-later
###############################################################################

config PRINT_INTER
  int "print log delay (Milliseconds)"
  default 1000
  range 0 10000




